.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
    background-color: rgba(0, 0, 0, 0.21);
    padding: 10px;
}

.loading {

}